.logo {
  text-align: center;
}

.logo img {
  width: 55%;
  margin-right: 1.5rem;
}

.icon {
  width: 24px;
  padding-right: 6px;
  margin-right: 6px;
}

img {
  color: rebeccapurple !important;
}

nav {
  background-color: #323544;
  min-width: 250px;
  max-width: 250px;
  height: 100vh !important;
  position: fixed;
}

nav a {
  display: block;
  padding: 16px 50px;
  text-decoration: none !important;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 6px;
  color: #999ba4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .5px;
  transition: all .1s ease-in;
}

nav a:hover {
  background-color: #a38bd5;
  padding: 16px 50px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 6px;
  color: #fff;
}

.active {
  background-color: #a38bd5;
  padding: 16px 50px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 6px;
  color: #fff;
}