.books-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.books-wrapper .card {
  width: 49% !important;
  margin-bottom: 10px;
}

.books-wrapper .card:nth-child(odd) {
  margin-right: 10px !important;
}

.books-wrapper .card-subtitle {
  font-size: 14px;
}

span {
  font-weight: bold;
  font-size: 14px;
}